In [1]:
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

# Question No- 07------IMDB Series

In [ ]:
driver=webdriver.Chrome() 
driver.get("http://www.imdb.com/list/ls095964455/")

In [3]:
#Lets Scrape the name of the series

Series_Name=[]

Name=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3[1]/a[1]')
for a in Name:
    Name1=a.text
    Series_Name.append(Name1)
    
    
    
    
    
#Lets Scrape the year of the series

Year_Span=[]

YS=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3[1]/span[2]')
for b in YS:
    yp=b.text
    Year_Span.append(yp)
    
    
    
    
#Lets Scrape the Genre of the series

Genre=[]

Genre1=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[1]/span[5]')
for c in Genre1:
    Gn=c.text
    Genre.append(Gn)
    
    
    
#Lets Scrape the Run time of the series

Run_Time=[]

RT=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[1]/span[3]')
for d in RT:
    RT1=d.text
    Run_Time.append(RT1)
    
    
    
    
#Lets Scrape the Ratings of the series

Ratings=[]

Rate=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/div[1]/div[1]/span[2]')
for e in Rate:
    Rate1=e.text
    Ratings.append(Rate1)
    
    
    
    
#Lets Scrape the Votes of the series

Votes=[]

vote=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]')
for f in vote:
    vote1=f.text
    Votes.append(vote1)

In [4]:
df=pd.DataFrame({'Name':Series_Name,'Year':Year_Span,'Genre': Genre,'Run time':Run_Time,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,193,044"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,805"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,947"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,958"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"265,028"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"52,423"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,452"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,096"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,685"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,653"

# Question No 2----------BCCI India tean schedule

In [6]:
driver=webdriver.Chrome()
driver.get('http://www.bcci.tv/')

In [7]:
Domestic=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
Domestic.click()

In [8]:
#Lets Scrape the Match Title of the series

Title=[]

Mtitle=driver.find_elements(By.XPATH,'//div[@class="match-card ng-scope"]/div[1]/h5[1]')
for a1 in Mtitle:
    title=a1.text
    Title.append(title)
    
    
    
#Lets scrape the series 


Series=[]

Ser=driver.find_elements(By.XPATH,'//div[@class="match-card ng-scope"]/div[3]/div[1]/span[1]')
for b1 in Ser:
    ser=b1.text
    Series.append(ser)
    
    
#Lets Scrape the place


Place1=[]


pl=driver.find_elements(By.XPATH,'//div[@class="match-card ng-scope"]/div[3]/div[1]')

for c1 in pl:
    plac=c1.text.split('-')[1]
    Place1.append(plac)
    
    
#lets scrape the date 


Date=[]

date=driver.find_elements(By.XPATH,'//div[@class="match-card ng-scope"]/div[1]/div[1]/div[1]')

for d1 in date:
    datee=d1.text
    Date.append(datee)
    
    
    
#lets scrape the date 


Time=[]

time=driver.find_elements(By.XPATH,'//div[@class="match-card ng-scope"]/div[1]/div[1]/div[2]')

for e1 in time:
    timee=e1.text
    Time.append(timee)

In [10]:
df2=pd.DataFrame({'Match Title':Series,'Series':Title,'Place':Place1,'Date':Date,'Time':Time})
df2

,Match Title,Series,Place,Date,Time
0,1st T20I -,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",18 AUG 2023,7:30 PM IST
1,2nd T20I -,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",20 AUG 2023,7:30 PM IST
2,3rd T20I -,INDIA TOUR OF IRELAND 2023,"The Village, Dublin",23 AUG 2023,7:30 PM IST
3,1st ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",2 SEP 2023,10:00 AM IST
4,2nd ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium, Pall...",4 SEP 2023,10:00 AM IST
5,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,...",22 SEP 2023,1:30 PM IST
6,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",24 SEP 2023,1:30 PM IST
7,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,1:30 PM IST

# Question No3----State GDP

In [11]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [13]:
Economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
Economy.click()

In [14]:
Economy_ind=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
Economy_ind.click()

In [15]:
#lets scrape the State Name 
State=[]

state=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[2]')

for aa in state:
    state1=aa.text
    State.append(state1)
    
    
    
    
#lets scrape the GDP1 
GDP_18_19=[]

GDP1=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[4]')

for bb in GDP1:
    gdp1=bb.text
    GDP_18_19.append(gdp1)
    


    
#lets scrape the Share
Shares=[]

share=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[5]')

for dd in share:
    share1=dd.text
    Shares.append(share1)
    
    
    
    
    
#lets scrape the GDP2
GDP_19_20=[]

GDP2=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[3]')

for bb in GDP2:
    gdp2=bb.text
    GDP_19_20.append(gdp2)
    
    
    
    
#lets scrape the GDP_Billion
GDP_Billion=[]

gdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody[1]/tr/td[6]')

for ee in gdp:
    gdp1=ee.text
    GDP_Billion.append(gdp1)

In [19]:
len(State)

66

In [22]:
State1=State[:33]
GDP_18_191=GDP_18_19[:33]
GDP_Billion1=GDP_Billion[:33]
GDP_19_201=GDP_19_20[:33]
Shares1=Shares[:33]

In [23]:
df3=pd.DataFrame({'State':State1,'GDP_18_19':GDP_18_191,'GDP_19_20':GDP_19_201,'GDP_Billion':GDP_Billion1,'Shares':Shares1})
df3

                        State  GDP_18_19  GDP_19_20 GDP_Billion  Shares
0                 Maharashtra  2,632,792          -     399.921  13.94%
1                  Tamil Nadu  1,630,208  1,845,853     247.629   8.63%
2               Uttar Pradesh  1,584,764  1,687,818     240.726   8.39%
3                     Gujarat  1,502,899          -     228.290   7.96%
4                   Karnataka  1,493,127  1,631,977     226.806   7.91%
5                 West Bengal  1,089,898  1,253,832     165.556   5.77%
6                   Rajasthan    942,586  1,020,989     143.179   4.99%
7              Andhra Pradesh    862,957    972,782     131.083   4.57%
8                   Telangana    861,031    969,604     130.791   4.56%
9              Madhya Pradesh    809,592    906,672     122.977   4.29%
10                     Kerala    781,653          -     118.733   4.14%
11                      Delhi    774,870    856,112     117.703   4.10%
12                    Haryana    734,163    831,610     111.519   3.89%
13                      Bihar    530,363    611,804      80.562   2.81%
14                     Punjab    526,376    574,760      79.957   2.79%
15                     Odisha    487,805    521,275      74.098   2.58%
16                      Assam    315,881          -      47.982   1.67%
17               Chhattisgarh    304,063    329,180      46.187   1.61%
18                  Jharkhand    297,204    328,598      45.145   1.57%
19                Uttarakhand    245,895          -      37.351   1.30%
20            Jammu & Kashmir    155,956          -      23.690   0.83%
21           Himachal Pradesh    153,845    165,472      23.369   0.81%
22                        Goa     73,170     80,449      11.115   0.39%
23                    Tripura     49,845     55,984       7.571   0.26%
24                 Chandigarh     42,114          -       6.397   0.22%
25                 Puducherry     34,433     38,253       5.230   0.18%
26                  Meghalaya     33,481     36,572       5.086   0.18%
27                     Sikkim     28,723     32,496       4.363   0.15%
28                    Manipur     27,870     31,790       4.233   0.15%
29                   Nagaland     27,283          -       4.144   0.14%
30          Arunachal Pradesh     24,603          -       3.737   0.13%
31                    Mizoram     22,287     26,503       3.385   0.12%
32  Andaman & Nicobar Islands          -          -           -       -

# Question No 04-------Github Trending Repository

In [3]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [4]:
#Click open source

Open=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
Open.click()

In [5]:
#lets scrape the Repository title
Repository_title=[]

Rep=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2[1]')

for a0 in Rep:
    rep1=a0.text
    Repository_title.append(rep1)
    
    
    
    
#lets scrape the Repository description
Repository_description=[]

Des=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p[1]')

for b0 in Des:
    Des1=b0.text
    Repository_description.append(Des1)
    
    

    
#lets scrape the Language
Language=[]

lan=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]/span[1]')

for c0 in lan:
    lan1=c0.text
    Language.append(lan1)
    
    
#lets scrape the url and Contributor count
product_url1=[]

url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    product_url1.append(i.get_attribute('href'))
time.sleep(3)



#lets scrape the Contributor

Contributor=[]

for url in product_url1:
    driver.get(url)
    time.sleep(3)
    try:
        Cont1=driver.find_element(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div[4]/div[1]/h2[1]/a[1]/span[1]')
        Contributor.append(Cont1.text)
    except NoSuchElementException:
        Contributor.append('-')

In [7]:
df4=pd.DataFrame({'Repository title': Repository_title,
                  'Repository description': Repository_description,
                  'Contributor': Contributor,
                  'Language': Language})

df4

,Repository title,Repository description,Contributor,Language
0,getumbrel / llama-gpt,"A self-hosted, offline, ChatGPT-like chatbot. ...",-,TypeScript
1,elidianaandrade / dio-lab-open-source,Repositório do lab Contribuindo em um Projeto ...,-,Built by
2,apple / ml-fastvit,This repository contains the official implemen...,2,Python
3,alibaba / canal,阿里巴巴 MySQL binlog 增量订阅&消费组件,2,Java
4,LorisYounger / VPet,"虚拟桌宠模拟器 一个开源的桌宠软件, 可以内置到任何WPF应用程序",1,C#
5,systeminit / si,The System Initiative software,-,Rust
6,ubicloud / ubicloud,"Open, free, and portable cloud. Elastic comput...",8,Ruby
7,ill-inc / biomes-game,Biomes is an open source sandbox MMORPG built ...,8,TypeScript
8,1Panel-dev / 1Panel,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,29,Go
9,taojy123 / KeymouseGo,类似按键精灵的鼠标键盘录制和自动化操作 模拟点击和键入 | automate mouse c...,,Python
10,jiran214 / GPT-vup,GPT-vup BIliBili | 抖音 | AI | 虚拟主播,-,Python
11,SkyAsor / JavaScript-DEX-Triangular-Arbitrage-...,Save time and maximize your profits with our J...,-,Built by
12,bellard / quickjs,Public repository of the QuickJS Javascript En...,-,C
13,rany2 / edge-tts,Use Microsoft Edge's online text-to-speech ser...,-,Python
14,ibaiw / 2023Hvv,2023 HVV情报速递~,-,Built by
15,wangshusen / SearchEngine,搜索引擎原理,-,Built by
16,diegomura / react-pdf,📄 Create PDF files using React,,JavaScript
17,roboflow / supervision,We write your reusable computer vision tools. 💜,452,Python
18,xxlllq / system_architect,💯2023年系统架构设计师（软考高级）备考资料。,-,HTML
19,opentffoundation / manifesto,The OpenTF Manifesto expresses concern over Ha...,-,HTML
20,Kotlin / kotlinx.serialization,Kotlin multiplatform / multi-format serialization,149,Kotlin
21,novuhq / novu,The open-source notification infrastructure wi...,316,TypeScript
22,apitable / apitable,"🚀🎉📚 APITable, an API-oriented low-code platfor...",,TypeScript
23,ververica / flink-cdc-connectors,CDC Connectors for Apache Flink®,11,Java
24,lllyasviel / Fooocus,Focus on prompting and generating,3,Python

# Question No-8 UCI Dataset

In [9]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [10]:
#Lets click the all set details

Dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
Dataset.click()

In [11]:
#lets scrape the url and Contributor count
product_url2=[]

url1=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for ii in url1:
    product_url2.append(ii.get_attribute('href'))
time.sleep(3)

In [12]:
#lets scrape the DataSet Name
Dataset_Name=[]

for url in product_url2:
    driver.get(url)
    time.sleep(3)
    try:
        Dataset=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        Dataset_Name.append(Dataset.text)
    except NoSuchElementException:
        Dataset_Name.append('-')
        
        
        
        
#lets scrape the DataSet Type

Dataset_type=[]

for url in product_url2:
    driver.get(url)
    time.sleep(3)
    try:
        Datatype=driver.find_element(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[1]/p[1]')
        Dataset_type.append(Datatype.text)
    except NoSuchElementException:
        Dataset_type.append('-')
        
        
        
        
#lets scrape the DataSet task

Dataset_task=[]

for url in product_url2:
    driver.get(url)
    time.sleep(3)
    try:
        Datatask=driver.find_element(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[3]/p[1]')
        Dataset_task.append(Datatask.text)
    except NoSuchElementException:
        Dataset_task.append('-')
        
        
        
#lets scrape the Attribute Type

Attribute_type=[]

for url in product_url2:
    driver.get(url)
    time.sleep(3)
    try:
        Attribute=driver.find_element(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[4]/p[1]')
        Attribute_type.append(Attribute.text)
    except NoSuchElementException:
        Attribute_type.append('-')
        
        
        
#lets scrape the No of Instances

No_Instances=[]

for url in product_url2:
    driver.get(url)
    time.sleep(3)
    try:
        insta=driver.find_element(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[5]/p[1]')
        No_Instances.append(insta.text)
    except NoSuchElementException:
        No_Instances.append('-')
        
        
        
#lets scrape the No of Attribute

No_Attributes=[]

for url in product_url2:
    driver.get(url)
    time.sleep(3)
    try:
        att=driver.find_element(By.XPATH,'//div[@class="relative flex flex-col gap-4 bg-base-100 p-4 shadow"]/div[2]/div[6]/p[1]')
        No_Attributes.append(att.text)
    except NoSuchElementException:
        No_Attributes.append('-')
        
        
        
        
#lets scrape the Date

Date=[]

for url in product_url2:
    driver.get(url)
    time.sleep(3)
    try:
        date=driver.find_element(By.XPATH,'//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div[2]/h2[1]')
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('-')

In [13]:
df5=pd.DataFrame({'Dateset Name':Dataset_Name,'Dataset Type':Dataset_type,'Dataset task': Dataset_task,'Attribute type':Attribute_type,'No of Attributes':No_Attributes,
                 'No of Instances':No_Instances,'Date': Date})
df5

,Dateset Name,Dataset Type,Dataset task,Attribute type,No of Attributes,No of Instances,Date
0,Iris,Multivariate,Classification,Real,4,150,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",13,303,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",14,48842,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",16,13611,-
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",20,-,-
5,Wine,Multivariate,Classification,"Integer, Real",13,178,-
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,30,569,Donated on 10/31/1995
7,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,8,3810,Donated on 10/5/2019
8,Car Evaluation,Multivariate,Classification,Categorical,6,1728,Donated on 5/31/1997
9,Mushroom,Multivariate,Classification,Categorical,22,8124,Donated on 4/26/1987

# Question No 5---Billboard Hot 100

In [17]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [ ]:
#lets click the Chart 

chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[2]/a')
chart.click()


Allchart=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
Allchart.click()

In [18]:
#lets scrape the Song Name

Song_Name=[]

name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[1]/h3[1]')

for aa in name:
    name1=aa.text
    Song_Name.append(name1)
    
    
    
    
#lets scrape the Artist Name

Artist_Name=[]

art=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[1]/span[1]')

for bb in art:
    art1=bb.text
    Artist_Name.append(art1)
    
    
    
#lets scrape the last week rank

Rank=[]

rank=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[4]/span[1]')

for cc in rank:
    rank1=cc.text
    Rank.append(rank1)
    
    
    
#lets scrape the peak week rank

peak_Rank=[]

rank11=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[5]/span[1]')

for dd in rank11:
    rank12=dd.text
    peak_Rank.append(rank12)
    
    
    
    
#lets scrape the Weeks on board

Week_board=[]

board=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[6]/span[1]')

for ee in board:
    board1=ee.text
    Week_board.append(board1)

In [19]:
df6=pd.DataFrame({'Song name':Song_Name,
                 'Artist name':Artist_Name,
                 'Last week rank':Rank,
                 'Peak rank':peak_Rank,
                 'Weeks on board':Week_board})
df6

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

# Question No 1----Wikipedia Youtube video

In [20]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [21]:
#lets scrape the Rank

YRank=[]

yrank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[1]')

for a11 in yrank:
    yran=a11.text
    YRank.append(yran)
    
    
    
#lets scrape the VideoName

Vname1=[]

vname=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[2]/a[1]')

for b11 in vname:
    name=b11.text
    Vname1.append(name)
    
    
    
    
#lets scrape the Video Artist

Vartist=[]

vart=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[3]')

for c11 in vart:
    art=c11.text
    Vartist.append(art)
    
    
    
    
#lets scrape the Upload date

Vdate=[]

vdat=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[5]')

for d11 in vdat:
    art=d11.text
    Vdate.append(art)
    
    
    
    
    
#lets scrape the Views

Vviews=[]

vview=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody[1]/tr/td[4]')

for e11 in vview:
    art=e11.text
    Vviews.append(art)
    
    
    
    
Rank= YRank[:30]
Name= Vname1[:30]
Artist=Vartist[:30]
Upload_date= Vdate[:30]
Views=Vviews[:30]

In [22]:
df7=pd.DataFrame({'Rank':Rank,
                 'Name': Name,
                 'Artist': Artist,
                 'Upload Date':Upload_date,
                 'Views in Billion':Views})
df7

,Rank,Name,Artist,Upload Date,Views in Billion
0,1.,Baby Shark Dance,Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.23
2,3.,Johny Johny Yes Papa,LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4.,Shape of You,Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5.,See You Again,Ed Sheeran,"January 30, 2017",6.05
5,6.,Wheels on the Bus,Wiz Khalifa,"April 6, 2015",5.98
6,7.,Uptown Funk,Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,8.,Gangnam Style,ChuChu TV - children's songs,"March 6, 2014",5.42
8,9.,Dame Tu Cosita,Mark Ronson,"November 19, 2014",5.00
9,10.,Axel F,Miroshka TV - children's songs,"February 27, 2018",4.94
10,11.,Sugar,Psy,"July 15, 2012",4.86
11,12.,Roar,Get Movies - children's songs,"January 31, 2012",4.55
12,13.,Counting Stars,El Chombo,"April 5, 2018",4.41
13,14.,Baa Baa Black Sheep,Crazy Frog,"June 16, 2009",4.00
14,15.,Sorry,Maroon 5,"January 14, 2015",3.91
15,16.,Waka Waka (This Time for Africa),Katy Perry,"September 5, 2013",3.84
16,17.,Thinking Out Loud,OneRepublic,"May 31, 2013",3.84
17,18.,Lakdi Ki Kathi,Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19.,Dark Horse,Justin Bieber,"October 22, 2015",3.69
19,20.,Perfect,Shakira,"June 4, 2010",3.68
20,21.,Faded,Ed Sheeran,"October 7, 2014",3.63
21,22.,Let Her Go,Jingle Toons,"June 14, 2018",3.63
22,23.,Humpty the train on a fruits ride,Katy Perry,"February 20, 2014",3.56
23,24.,Girls Like You,Ed Sheeran,"November 9, 2017",3.51
24,25.,Bailando,Alan Walker,"December 3, 2015",3.49
25,26.,Lean On,Passenger,"July 25, 2012",3.48
26,27.,Pinkfong Baby Shark - Kids' Songs & Stories,Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28.,Luis Fonsi,Maroon 5,"May 31, 2018",3.45
28,29.,Wiz Khalifa,Enrique Iglesias,"April 11, 2014",3.43
29,30.,Psy,Major Lazer,"March 22, 2015",3.43

# Question No- 06 - Highest Selling Novels

In [2]:
#lets go to the website

driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [3]:
#Lets extract the title of Novel

Novel_Title=[]

Ntitle=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody[1]/tr/td[2]')

for a20 in Ntitle:
    ntit=a20.text
    Novel_Title.append(ntit)
    
    
    
    
#Lets extract the Author Nanme

Author_Name=[]

Aname=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody[1]/tr/td[3]')

for b20 in Aname:
    Aname1=b20.text
    Author_Name.append(Aname1)
    
    
    
#Lets extract the Volume Sold

Volume=[]

vol=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody[1]/tr/td[4]')

for c20 in vol:
    vol1=c20.text
    Volume.append(vol1)
    
    
    
#Lets extract the Publisher

Publisher=[]

pub=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody[1]/tr/td[5]')

for d20 in pub:
    pub1=d20.text
    Publisher.append(pub1)
    
    
    
#Lets extract the Genre

Genre=[]

gen=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody[1]/tr/td[6]')

for e20 in gen:
    gen1=e20.text
    Genre.append(gen1)

In [4]:
df8=pd.DataFrame({'Book name':Novel_Title,'Author name':Author_Name,'Volumes sold':Volume,'Publisher':Publisher,'Genre':Genre})
df8

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General